.fullPage{
    border: white solid 1px;
}
.common {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.messageContainer{
    border:solid 1px;
}
.btnPos{
    margin-right:120px;
    margin-top: 10px;
    float:right;
}
.messageList{
    margin-top: 50px;
}
.bottom{
    position: relative;
}
.bottom input{
    width: 60%;
    height: 40px;
    line-height: 30px;
    margin-right: 20px;
    display: inline-block;
}
.button{
    width: 5%;
    height: 40px;
    border: 1px solid #a6e1ec !important;
}
#circleContain{
    min-height:677px;
    position:relative;
}
#circleBody {
    padding-bottom: 80px;
}

.refresh{
    position: absolute;
    top: 20px;
    right: 200px;
    background-color: wheat !important;
    color:black !important;
    border: wheat solid 1px !important;
}

.back{
    position: absolute;
    top: 20px;
    right: 100px;
    background-color: wheat !important;
    color:black !important;
    border: wheat solid 1px !important;
}

