footer {
    background-color: #ece8cf;
    height: 85px;
    text-align: center;
    padding-top: 15px;
    color: #959595;
}

#divFooter {
    margin-top: 8px;
}

a {
    margin-right: 15px;
    color: #949494;
}

a:hover {
    color: #959595;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}
