
#home {
    margin: 0px auto;
}

#homePage {
    margin: auto;
}

.container {
    width: 60% !important;
    margin-left: 30% !important;
    margin-top: 1% !important;
}

h3 {
    color: dimgray !important;
}

img {
    border: none;
    width: 100%;
    height: 100%;
}

.page {
    margin: auto;
    width: 90%;
}

.active {
    border: none !important;

    padding: 0 !important;
    height: 500px;

}

.carousel-control.right {
    background-image: none !important;
}

.carousel-control.left {
    background-image: none !important;
}

