
#homes {
    margin: 0px auto;
}

img {
    border: none;
    width: 100%;
    height: 100%;
}

.page {
    margin: auto;
    width: 90%;
}

.active {
    border: none !important;

    padding: 0 !important;
    height: 500px;

}

.carousel-control.right {
    background-image: none !important;
}

.carousel-control.left {
    background-image: none !important;
}

