#loginCente {
    width: 90%;
    height: 510px;
    margin: 0px auto;
}

#login {
    margin-top: 45px;
    border-radius: 5px;
    border: solid 2px #9d9d9d;
    width: 300px;
    height: 400px;
    background-color: lightblue;
    padding-top: 140px;
}

.divClass {
    padding-bottom: 20px;
    font-size: medium;
}

.inputClass {
    margin-left: 5px;
    border-radius: 5px;
}

#btnLogin {
    margin-right: 20px;
}

.button-center {
    text-align: center;
}
